In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("cust_seg.csv")

C:\Users\rayng\AppData\Local\Temp\ipykernel_9268\1948748220.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("cust_seg.csv")

In [3]:
# What kind of data does each column hold?

for col in df:
    print(col + ":", df[col].unique())

Unnamed: 0: [     0      1      2 ... 999997 999998 999999]
fecha_dato: ['2015-01-28' '2015-02-28']
ncodpers: [1375586 1050611 1050612 ... 1149999 1150908 1183305]
ind_empleado: ['N' nan 'A' 'B' 'F' 'S']
pais_residencia: ['ES' nan 'CA' 'CH' 'CL' 'IE' 'AT' 'NL' 'FR' 'GB' 'DE' 'DO' 'BE' 'AR' 'VE'
 'US' 'MX' 'BR' 'IT' 'EC' 'PE' 'CO' 'HN' 'FI' 'SE' 'AL' 'PT' 'MZ' 'CN'
 'TW' 'PL' 'IN' 'CR' 'NI' 'HK' 'AD' 'CZ' 'AE' 'MA' 'GR' 'PR' 'RO' 'IL'
 'RU' 'GT' 'GA' 'NO' 'SN' 'MR' 'UA' 'BG' 'PY' 'EE' 'SV' 'ET' 'CM' 'SA'
 'CI' 'QA' 'LU' 'PA' 'BA' 'BO' 'AU' 'BY' 'KE' 'SG' 'HR' 'MD' 'SK' 'TR'
 'AO' 'CU' 'GQ' 'EG' 'ZA' 'DK' 'UY' 'GE' 'TH' 'DZ' 'LB' 'JP' 'NG' 'PK'
 'TN' 'TG' 'KR' 'GH' 'RS' 'VN' 'PH' 'KW' 'NZ' 'MM' 'KH' 'GI' 'SL' 'GN'
 'GW' 'OM' 'CG' 'LV' 'LT' 'ML' 'MK' 'HU' 'IS' 'LY' 'CF' 'GM' 'KZ' 'CD'
 'BZ']
sexo: ['H' 'V' nan]
age: [' 35' ' 23' ' 22' ' 24' ' 65' ' 28' ' 25' ' 26' ' 53' ' 27' ' 32' ' 37'
 ' 31' ' 39' ' 63' ' 33' ' 55' ' 42' ' 58' ' 38' ' 50' ' 30' ' 45' ' 44'
 ' 36' ' 29' ' 60' ' 57' ' 67' ' 47' ' NA' ' 34' ' 48' ' 46' ' 54' ' 84'
 ' 15' ' 12' '  8' '  6' ' 83' ' 40' ' 77' ' 69' ' 52' ' 59' ' 43' ' 10'
 '  9' ' 49' ' 41' ' 51' ' 78' ' 16' ' 11' ' 73' ' 62' ' 66' ' 17' ' 68'
 ' 82' ' 95' ' 96' ' 56' ' 61' ' 79' ' 72' ' 14' ' 19' ' 13' ' 86' ' 64'
 ' 20' ' 89' ' 71' '  7' ' 70' ' 74' ' 21' ' 18' ' 75' '  4' ' 80' ' 81'
 '  5' ' 76' ' 92' ' 93' ' 85' ' 91' ' 87' ' 90' ' 94' ' 99' ' 98' ' 88'
 ' 97' '100' '101' '106' '103' '  3' '  2' '102' '104' '111' '107' '109'
 '105' '112' '115' '110' '116' '108' '113']
fecha_alta: ['2015-01-12' '2012-08-10' nan ... '2015-01-31' '2015-02-17' '2015-02-01']
ind_nuevo: [ 0. nan  1.]
antiguedad: ['      6' '     35' '     34' '     NA' '     33' '     31' '     21'
 '     16' '     27' '      9' '     22' '     13' '     29' '      8'
 '     11' '     10' '     28' '     24' '      7' '     25' '     14'
 '     26' '     12' '     23' '      1' '     18' '      4' '      3'
 '     17' '     32' '     30' '     20' '     15' '     19' '    157'
 '     36' '      5' '     40' '     38' '     37' '     39' '      0'
 '      2' '     47' '     44' '     42' '     46' '     45' '     43'
 '     41' '     57' '     48' '     52' '     49' '     50' '     56'
 '     58' '     51' '     55' '     54' '     53' '     59' '     62'
 '     61' '     60' '     63' '    139' '    165' '    118' '    164'
 '    142' '     94' '    159' '    143' '    105' '    151' '    162'
 '    137' '    150' '    128' '    122' '    156' '    119' '    160'
 '     79' '     95' '    132' '    161' '     98' '    127' '     72'
 '    155' '    108' '    163' '    102' '    148' '    115' '    146'
 '    107' '     81' '    216' '    135' '     92' '    121' '    198'
 '    134' '     93' '    140' '    110' '    120' '    147' '    116'
 '     64' '     77' '     85' '     99' '     78' '    100' '    113'
 '    154' '    166' '    133' '    124' '    141' '     66' '    117'
 '     86' '    193' '     80' '    144' '     87' '    126' '    158'
 '    101' '    235' '     88' '    145' '    103' '    149' '    109'
 '    131' '     97' '     68' '     84' '    232' '    125' '    177'
 '    112' '     96' '     69' '    171' '    167' '    104' '     76'
 '     82' '    152' '     70' '    138' '    169' '     65' '    129'
 '    190' '    114' '    111' '    176' '    153' '     89' '    136'
 '     83' '    123' '    187' '    106' '    231' '    189' '    217'
 '    172' '    199' '    173' '    174' '    209' '    180' '    178'
 '     91' '    168' '    130' '    225' '     67' '     73' '    183'
 '     74' '    206' '     71' '    179' '    184' '    192' '     90'
 '    194' '    182' '    188' '    213' '    185' '    195' '    186'
 '    207' '    208' '     75' '    175' '    201' '    203' '    212'
 '    215' '    170' '    228' '    214' '    202' '    196' '    181'
 '    211' '    191' '    205' '    200' '    227' '    218' '    219'
 '    226' '    224' '    210' '    242' '    223' '    237' '    204'
 '    233' '    220' '    222' '    241' '    197' '    221' '    229'
 '    234' '    240' '    243' '    230' '    238' '    246' '    236'
 '    244' '    239' '    245' '-999999']
indrel: [ 1. nan 99.]
ult_fec_cli_1t: [nan '2015-07-02' '2015-07-23' '2015-07-06' '2015-07-30' '2015-07-20'
 '2015-07-08' '2015-07-22' '2015-07-17' '2015-07-09' '2015-07-03'
 '2015-07-29' '2015-07-13' '2015-07-21' '2015-07-27' '2015-07-14'
 '2015-07-01' '2015-07-24' '2015-07-15' '2015-07-16' '2015-07-28'
 '2015-07-07' '2015-07-10']
indrel_1mes: [ 1. nan  3.  2.]
tiprel_1mes: ['A' 'I' nan 'P']
indresi: ['S' nan 'N']
indext: ['N' 'S' nan]
conyuemp: [nan 'N' 'S']
canal_entrada: ['KHL' 'KHE' 'KHD' 'KFA' 'KFC' 'KAT' nan 'KAZ' 'RED' 'KHC' 'KHK' 'KGN'
 'KHM' 'KHO' 'KDH' 'KEH' 'KAD' 'KBG' 'KGC' 'KHF' 'KFK' 'KHN' 'KHA' 'KAF'
 'KGX' 'KFD' 'KAG' 'KFG' 'KAB' 'KCC' 'KAE' 'KAH' 'KAR' 'KFJ' 'KFL' 'KAI'
 'KFU' 'KAQ' 'KFS' 'KAA' 'KFP' 'KAJ' 'KFN' 'KGV' 'KGY' 'KFF' 'KAP' 'KDE'
 'KFV' '013' 'K00' 'KAK' 'KCK' 'KCL' 'KAY' 'KBU' 'KDR' 'KAC' 'KDT' 'KCG'
 'KDO' 'KDY' 'KBQ' 'KDA' 'KBO' 'KCI' 'KEC' 'KBZ' 'KES' 'KDX' 'KAS' '007'
 'KEU' 'KCA' 'KAL' 'KDC' 'KAW' 'KCS' 'KCB' 'KDU' 'KDQ' 'KCN' 'KCM' '004'
 'KCH' 'KCD' 'KCE' 'KEV' 'KBL' 'KEA' 'KBH' 'KDV' 'KFT' 'KEY' 'KAO' 'KEJ'
 'KEO' 'KEI' 'KEW' 'KDZ' 'KBV' 'KBR' 'KBF' 'KDP' 'KCO' 'KCF' 'KCV' 'KAM'
 'KEZ' 'KBD' 'KAN' 'KBY' 'KCT' 'KDD' 'KBW' 'KCU' 'KBX' 'KDB' 'KBS' 'KBE'
 'KCX' 'KBP' 'KBN' 'KEB' 'KDS' 'KEL' 'KDG' 'KDF' 'KEF' 'KCP' 'KDM' 'KBB'
 'KDW' 'KBJ' 'KFI' 'KBM' 'KEG' 'KEN' 'KEQ' 'KAV' 'KFH' 'KFM' 'KAU' 'KED'
 'KFR' 'KEK' 'KFB' 'KGW' 'KFE' 'KGU' 'KDI' 'KDN' 'KEE' 'KCR' 'KCQ' 'KEM'
 'KCJ']
indfall: ['N' nan 'S']
tipodom: [ 1. nan]
cod_prov: [29. 13. 50. 45. 24. 20. 10. 17. 49.  8. 37.  9. 22. 31.  5. 40. 27. 25.
 28.  3. 42. 41. 39.  7. 47. 36. 46. 44. 15. 32. 23. 16. 48. 12. 26.  2.
  6. 30. 11. nan  4. 19. 34. 35. 14. 21. 18. 33. 38. 52. 43.  1. 51.]
nomprov: ['MALAGA' 'CIUDAD REAL' 'ZARAGOZA' 'TOLEDO' 'LEON' 'GIPUZKOA' 'CACERES'
 'GIRONA' 'ZAMORA' 'BARCELONA' 'SALAMANCA' 'BURGOS' 'HUESCA' 'NAVARRA'
 'AVILA' 'SEGOVIA' 'LUGO' 'LERIDA' 'MADRID' 'ALICANTE' 'SORIA' 'SEVILLA'
 'CANTABRIA' 'BALEARS, ILLES' 'VALLADOLID' 'PONTEVEDRA' 'VALENCIA'
 'TERUEL' 'CORUÃ‘A, A' 'OURENSE' 'JAEN' 'CUENCA' 'BIZKAIA' 'CASTELLON'
 'RIOJA, LA' 'ALBACETE' 'BADAJOZ' 'MURCIA' 'CADIZ' nan 'ALMERIA'
 'GUADALAJARA' 'PALENCIA' 'PALMAS, LAS' 'CORDOBA' 'HUELVA' 'GRANADA'
 'ASTURIAS' 'SANTA CRUZ DE TENERIFE' 'MELILLA' 'TARRAGONA' 'ALAVA' 'CEUTA']
ind_actividad_cliente: [ 1.  0. nan]
renta: [ 87218.1   35548.74 122179.11 ... 207276.15 193597.59 138471.78]
ind_ahor_fin_ult1: [0 1]
ind_aval_fin_ult1: [0 1]
ind_cco_fin_ult1: [1 0]
ind_cder_fin_ult1: [0 1]
ind_cno_fin_ult1: [0 1]
ind_ctju_fin_ult1: [0 1]
ind_ctma_fin_ult1: [0 1]
ind_ctop_fin_ult1: [0 1]
ind_ctpp_fin_ult1: [0 1]
ind_deco_fin_ult1: [0 1]
ind_deme_fin_ult1: [0 1]
ind_dela_fin_ult1: [0 1]
ind_ecue_fin_ult1: [0 1]
ind_fond_fin_ult1: [0 1]
ind_hip_fin_ult1: [0 1]
ind_plan_fin_ult1: [0 1]
ind_pres_fin_ult1: [0 1]
ind_reca_fin_ult1: [0 1]
ind_tjcr_fin_ult1: [0 1]
ind_valo_fin_ult1: [0 1]
ind_viv_fin_ult1: [0 1]
ind_nomina_ult1: [ 0.  1. nan]
ind_nom_pens_ult1: [ 0.  1. nan]
ind_recibo_ult1: [0 1]

In [4]:
# Looking at the code above, it is appropriate to remove all trailing spaces from the "age" and "antiguedad" columns. There is a method named strip to do this

df["age"] = df["age"].apply(lambda string: string.strip())
df["antiguedad"] = df["antiguedad"].apply(lambda string: string.strip())

In [5]:
# Convert "NA" strings into the Pandas nan type

df["age"] = df["age"].replace("NA", np.nan)
df["antiguedad"] = df["antiguedad"].replace("NA", np.nan)

In [6]:
# The "age" and "antiguedad" columns are encoded as strings, not numbers

def convert_to_int(data):
    try:
        return int(data)
    except:
        return data

df["age"] = df["age"].apply(convert_to_int)
df["antiguedad"] = df["antiguedad"].apply(convert_to_int)

In [7]:
# What kind of data does each column hold?

for col in df:
    print(col + ":", df[col].unique())

Unnamed: 0: [     0      1      2 ... 999997 999998 999999]
fecha_dato: ['2015-01-28' '2015-02-28']
ncodpers: [1375586 1050611 1050612 ... 1149999 1150908 1183305]
ind_empleado: ['N' nan 'A' 'B' 'F' 'S']
pais_residencia: ['ES' nan 'CA' 'CH' 'CL' 'IE' 'AT' 'NL' 'FR' 'GB' 'DE' 'DO' 'BE' 'AR' 'VE'
 'US' 'MX' 'BR' 'IT' 'EC' 'PE' 'CO' 'HN' 'FI' 'SE' 'AL' 'PT' 'MZ' 'CN'
 'TW' 'PL' 'IN' 'CR' 'NI' 'HK' 'AD' 'CZ' 'AE' 'MA' 'GR' 'PR' 'RO' 'IL'
 'RU' 'GT' 'GA' 'NO' 'SN' 'MR' 'UA' 'BG' 'PY' 'EE' 'SV' 'ET' 'CM' 'SA'
 'CI' 'QA' 'LU' 'PA' 'BA' 'BO' 'AU' 'BY' 'KE' 'SG' 'HR' 'MD' 'SK' 'TR'
 'AO' 'CU' 'GQ' 'EG' 'ZA' 'DK' 'UY' 'GE' 'TH' 'DZ' 'LB' 'JP' 'NG' 'PK'
 'TN' 'TG' 'KR' 'GH' 'RS' 'VN' 'PH' 'KW' 'NZ' 'MM' 'KH' 'GI' 'SL' 'GN'
 'GW' 'OM' 'CG' 'LV' 'LT' 'ML' 'MK' 'HU' 'IS' 'LY' 'CF' 'GM' 'KZ' 'CD'
 'BZ']
sexo: ['H' 'V' nan]
age: [ 35.  23.  22.  24.  65.  28.  25.  26.  53.  27.  32.  37.  31.  39.
  63.  33.  55.  42.  58.  38.  50.  30.  45.  44.  36.  29.  60.  57.
  67.  47.  nan  34.  48.  46.  54.  84.  15.  12.   8.   6.  83.  40.
  77.  69.  52.  59.  43.  10.   9.  49.  41.  51.  78.  16.  11.  73.
  62.  66.  17.  68.  82.  95.  96.  56.  61.  79.  72.  14.  19.  13.
  86.  64.  20.  89.  71.   7.  70.  74.  21.  18.  75.   4.  80.  81.
   5.  76.  92.  93.  85.  91.  87.  90.  94.  99.  98.  88.  97. 100.
 101. 106. 103.   3.   2. 102. 104. 111. 107. 109. 105. 112. 115. 110.
 116. 108. 113.]
fecha_alta: ['2015-01-12' '2012-08-10' nan ... '2015-01-31' '2015-02-17' '2015-02-01']
ind_nuevo: [ 0. nan  1.]
antiguedad: [ 6.00000e+00  3.50000e+01  3.40000e+01          nan  3.30000e+01
  3.10000e+01  2.10000e+01  1.60000e+01  2.70000e+01  9.00000e+00
  2.20000e+01  1.30000e+01  2.90000e+01  8.00000e+00  1.10000e+01
  1.00000e+01  2.80000e+01  2.40000e+01  7.00000e+00  2.50000e+01
  1.40000e+01  2.60000e+01  1.20000e+01  2.30000e+01  1.00000e+00
  1.80000e+01  4.00000e+00  3.00000e+00  1.70000e+01  3.20000e+01
  3.00000e+01  2.00000e+01  1.50000e+01  1.90000e+01  1.57000e+02
  3.60000e+01  5.00000e+00  4.00000e+01  3.80000e+01  3.70000e+01
  3.90000e+01  0.00000e+00  2.00000e+00  4.70000e+01  4.40000e+01
  4.20000e+01  4.60000e+01  4.50000e+01  4.30000e+01  4.10000e+01
  5.70000e+01  4.80000e+01  5.20000e+01  4.90000e+01  5.00000e+01
  5.60000e+01  5.80000e+01  5.10000e+01  5.50000e+01  5.40000e+01
  5.30000e+01  5.90000e+01  6.20000e+01  6.10000e+01  6.00000e+01
  6.30000e+01  1.39000e+02  1.65000e+02  1.18000e+02  1.64000e+02
  1.42000e+02  9.40000e+01  1.59000e+02  1.43000e+02  1.05000e+02
  1.51000e+02  1.62000e+02  1.37000e+02  1.50000e+02  1.28000e+02
  1.22000e+02  1.56000e+02  1.19000e+02  1.60000e+02  7.90000e+01
  9.50000e+01  1.32000e+02  1.61000e+02  9.80000e+01  1.27000e+02
  7.20000e+01  1.55000e+02  1.08000e+02  1.63000e+02  1.02000e+02
  1.48000e+02  1.15000e+02  1.46000e+02  1.07000e+02  8.10000e+01
  2.16000e+02  1.35000e+02  9.20000e+01  1.21000e+02  1.98000e+02
  1.34000e+02  9.30000e+01  1.40000e+02  1.10000e+02  1.20000e+02
  1.47000e+02  1.16000e+02  6.40000e+01  7.70000e+01  8.50000e+01
  9.90000e+01  7.80000e+01  1.00000e+02  1.13000e+02  1.54000e+02
  1.66000e+02  1.33000e+02  1.24000e+02  1.41000e+02  6.60000e+01
  1.17000e+02  8.60000e+01  1.93000e+02  8.00000e+01  1.44000e+02
  8.70000e+01  1.26000e+02  1.58000e+02  1.01000e+02  2.35000e+02
  8.80000e+01  1.45000e+02  1.03000e+02  1.49000e+02  1.09000e+02
  1.31000e+02  9.70000e+01  6.80000e+01  8.40000e+01  2.32000e+02
  1.25000e+02  1.77000e+02  1.12000e+02  9.60000e+01  6.90000e+01
  1.71000e+02  1.67000e+02  1.04000e+02  7.60000e+01  8.20000e+01
  1.52000e+02  7.00000e+01  1.38000e+02  1.69000e+02  6.50000e+01
  1.29000e+02  1.90000e+02  1.14000e+02  1.11000e+02  1.76000e+02
  1.53000e+02  8.90000e+01  1.36000e+02  8.30000e+01  1.23000e+02
  1.87000e+02  1.06000e+02  2.31000e+02  1.89000e+02  2.17000e+02
  1.72000e+02  1.99000e+02  1.73000e+02  1.74000e+02  2.09000e+02
  1.80000e+02  1.78000e+02  9.10000e+01  1.68000e+02  1.30000e+02
  2.25000e+02  6.70000e+01  7.30000e+01  1.83000e+02  7.40000e+01
  2.06000e+02  7.10000e+01  1.79000e+02  1.84000e+02  1.92000e+02
  9.00000e+01  1.94000e+02  1.82000e+02  1.88000e+02  2.13000e+02
  1.85000e+02  1.95000e+02  1.86000e+02  2.07000e+02  2.08000e+02
  7.50000e+01  1.75000e+02  2.01000e+02  2.03000e+02  2.12000e+02
  2.15000e+02  1.70000e+02  2.28000e+02  2.14000e+02  2.02000e+02
  1.96000e+02  1.81000e+02  2.11000e+02  1.91000e+02  2.05000e+02
  2.00000e+02  2.27000e+02  2.18000e+02  2.19000e+02  2.26000e+02
  2.24000e+02  2.10000e+02  2.42000e+02  2.23000e+02  2.37000e+02
  2.04000e+02  2.33000e+02  2.20000e+02  2.22000e+02  2.41000e+02
  1.97000e+02  2.21000e+02  2.29000e+02  2.34000e+02  2.40000e+02
  2.43000e+02  2.30000e+02  2.38000e+02  2.46000e+02  2.36000e+02
  2.44000e+02  2.39000e+02  2.45000e+02 -9.99999e+05]
indrel: [ 1. nan 99.]
ult_fec_cli_1t: [nan '2015-07-02' '2015-07-23' '2015-07-06' '2015-07-30' '2015-07-20'
 '2015-07-08' '2015-07-22' '2015-07-17' '2015-07-09' '2015-07-03'
 '2015-07-29' '2015-07-13' '2015-07-21' '2015-07-27' '2015-07-14'
 '2015-07-01' '2015-07-24' '2015-07-15' '2015-07-16' '2015-07-28'
 '2015-07-07' '2015-07-10']
indrel_1mes: [ 1. nan  3.  2.]
tiprel_1mes: ['A' 'I' nan 'P']
indresi: ['S' nan 'N']
indext: ['N' 'S' nan]
conyuemp: [nan 'N' 'S']
canal_entrada: ['KHL' 'KHE' 'KHD' 'KFA' 'KFC' 'KAT' nan 'KAZ' 'RED' 'KHC' 'KHK' 'KGN'
 'KHM' 'KHO' 'KDH' 'KEH' 'KAD' 'KBG' 'KGC' 'KHF' 'KFK' 'KHN' 'KHA' 'KAF'
 'KGX' 'KFD' 'KAG' 'KFG' 'KAB' 'KCC' 'KAE' 'KAH' 'KAR' 'KFJ' 'KFL' 'KAI'
 'KFU' 'KAQ' 'KFS' 'KAA' 'KFP' 'KAJ' 'KFN' 'KGV' 'KGY' 'KFF' 'KAP' 'KDE'
 'KFV' '013' 'K00' 'KAK' 'KCK' 'KCL' 'KAY' 'KBU' 'KDR' 'KAC' 'KDT' 'KCG'
 'KDO' 'KDY' 'KBQ' 'KDA' 'KBO' 'KCI' 'KEC' 'KBZ' 'KES' 'KDX' 'KAS' '007'
 'KEU' 'KCA' 'KAL' 'KDC' 'KAW' 'KCS' 'KCB' 'KDU' 'KDQ' 'KCN' 'KCM' '004'
 'KCH' 'KCD' 'KCE' 'KEV' 'KBL' 'KEA' 'KBH' 'KDV' 'KFT' 'KEY' 'KAO' 'KEJ'
 'KEO' 'KEI' 'KEW' 'KDZ' 'KBV' 'KBR' 'KBF' 'KDP' 'KCO' 'KCF' 'KCV' 'KAM'
 'KEZ' 'KBD' 'KAN' 'KBY' 'KCT' 'KDD' 'KBW' 'KCU' 'KBX' 'KDB' 'KBS' 'KBE'
 'KCX' 'KBP' 'KBN' 'KEB' 'KDS' 'KEL' 'KDG' 'KDF' 'KEF' 'KCP' 'KDM' 'KBB'
 'KDW' 'KBJ' 'KFI' 'KBM' 'KEG' 'KEN' 'KEQ' 'KAV' 'KFH' 'KFM' 'KAU' 'KED'
 'KFR' 'KEK' 'KFB' 'KGW' 'KFE' 'KGU' 'KDI' 'KDN' 'KEE' 'KCR' 'KCQ' 'KEM'
 'KCJ']
indfall: ['N' nan 'S']
tipodom: [ 1. nan]
cod_prov: [29. 13. 50. 45. 24. 20. 10. 17. 49.  8. 37.  9. 22. 31.  5. 40. 27. 25.
 28.  3. 42. 41. 39.  7. 47. 36. 46. 44. 15. 32. 23. 16. 48. 12. 26.  2.
  6. 30. 11. nan  4. 19. 34. 35. 14. 21. 18. 33. 38. 52. 43.  1. 51.]
nomprov: ['MALAGA' 'CIUDAD REAL' 'ZARAGOZA' 'TOLEDO' 'LEON' 'GIPUZKOA' 'CACERES'
 'GIRONA' 'ZAMORA' 'BARCELONA' 'SALAMANCA' 'BURGOS' 'HUESCA' 'NAVARRA'
 'AVILA' 'SEGOVIA' 'LUGO' 'LERIDA' 'MADRID' 'ALICANTE' 'SORIA' 'SEVILLA'
 'CANTABRIA' 'BALEARS, ILLES' 'VALLADOLID' 'PONTEVEDRA' 'VALENCIA'
 'TERUEL' 'CORUÃ‘A, A' 'OURENSE' 'JAEN' 'CUENCA' 'BIZKAIA' 'CASTELLON'
 'RIOJA, LA' 'ALBACETE' 'BADAJOZ' 'MURCIA' 'CADIZ' nan 'ALMERIA'
 'GUADALAJARA' 'PALENCIA' 'PALMAS, LAS' 'CORDOBA' 'HUELVA' 'GRANADA'
 'ASTURIAS' 'SANTA CRUZ DE TENERIFE' 'MELILLA' 'TARRAGONA' 'ALAVA' 'CEUTA']
ind_actividad_cliente: [ 1.  0. nan]
renta: [ 87218.1   35548.74 122179.11 ... 207276.15 193597.59 138471.78]
ind_ahor_fin_ult1: [0 1]
ind_aval_fin_ult1: [0 1]
ind_cco_fin_ult1: [1 0]
ind_cder_fin_ult1: [0 1]
ind_cno_fin_ult1: [0 1]
ind_ctju_fin_ult1: [0 1]
ind_ctma_fin_ult1: [0 1]
ind_ctop_fin_ult1: [0 1]
ind_ctpp_fin_ult1: [0 1]
ind_deco_fin_ult1: [0 1]
ind_deme_fin_ult1: [0 1]
ind_dela_fin_ult1: [0 1]
ind_ecue_fin_ult1: [0 1]
ind_fond_fin_ult1: [0 1]
ind_hip_fin_ult1: [0 1]
ind_plan_fin_ult1: [0 1]
ind_pres_fin_ult1: [0 1]
ind_reca_fin_ult1: [0 1]
ind_tjcr_fin_ult1: [0 1]
ind_valo_fin_ult1: [0 1]
ind_viv_fin_ult1: [0 1]
ind_nomina_ult1: [ 0.  1. nan]
ind_nom_pens_ult1: [ 0.  1. nan]
ind_recibo_ult1: [0 1]

Here we shall investigate the NA in the data.

In [8]:
# How many NA are in each column?
for col in df:
    print(col + ":", df[col].isna().sum())

Unnamed: 0: 0
fecha_dato: 0
ncodpers: 0
ind_empleado: 10782
pais_residencia: 10782
sexo: 10786
age: 10782
fecha_alta: 10782
ind_nuevo: 10782
antiguedad: 10782
indrel: 10782
ult_fec_cli_1t: 998899
indrel_1mes: 10782
tiprel_1mes: 10782
indresi: 10782
indext: 10782
conyuemp: 999822
canal_entrada: 10861
indfall: 10782
tipodom: 10782
cod_prov: 17734
nomprov: 17734
ind_actividad_cliente: 10782
renta: 175183
ind_ahor_fin_ult1: 0
ind_aval_fin_ult1: 0
ind_cco_fin_ult1: 0
ind_cder_fin_ult1: 0
ind_cno_fin_ult1: 0
ind_ctju_fin_ult1: 0
ind_ctma_fin_ult1: 0
ind_ctop_fin_ult1: 0
ind_ctpp_fin_ult1: 0
ind_deco_fin_ult1: 0
ind_deme_fin_ult1: 0
ind_dela_fin_ult1: 0
ind_ecue_fin_ult1: 0
ind_fond_fin_ult1: 0
ind_hip_fin_ult1: 0
ind_plan_fin_ult1: 0
ind_pres_fin_ult1: 0
ind_reca_fin_ult1: 0
ind_tjcr_fin_ult1: 0
ind_valo_fin_ult1: 0
ind_viv_fin_ult1: 0
ind_nomina_ult1: 5402
ind_nom_pens_ult1: 5402
ind_recibo_ult1: 0

In [9]:
df[df["ind_empleado"].isna()]

,Unnamed: 0,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
261,261,2015-01-28,1050741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1029,1029,2015-01-28,1051017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1063,1063,2015-01-28,1051064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1154,1154,2015-01-28,1051387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
1779,1779,2015-01-28,1048660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998780,998780,2015-02-28,1148591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
999111,999111,2015-02-28,1148971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,0
999115,999115,2015-02-28,1148968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
999577,999577,2015-02-28,1147591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,0
999724,999724,2015-02-28,1148181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0

In [10]:
# How many NA values are there per customer?

df["unrecorded_values"] = df.isna().sum(axis=1)
df["unrecorded_values"]

0         2
1         2
2         2
3         2
4         3
         ..
999995    2
999996    2
999997    2
999998    2
999999    2
Name: unrecorded_values, Length: 1000000, dtype: int64

In [11]:
# Which customers have the most NA values?

df["unrecorded_values"].value_counts()

2     825602
3     156380
5       6972
21      5480
23      5302
1        175
4         84
6          5
Name: unrecorded_values, dtype: int64

In [12]:
# The result above shows that about 10782 customers have 21 or 23 missing values - why were these info not recorded? Which columns are commonly not recorded for these customers?

df[df["unrecorded_values"] == 21].isna().sum(axis=0)

Unnamed: 0                  0
fecha_dato                  0
ncodpers                    0
ind_empleado             5480
pais_residencia          5480
sexo                     5480
age                      5480
fecha_alta               5480
ind_nuevo                5480
antiguedad               5480
indrel                   5480
ult_fec_cli_1t           5480
indrel_1mes              5480
tiprel_1mes              5480
indresi                  5480
indext                   5480
conyuemp                 5480
canal_entrada            5480
indfall                  5480
tipodom                  5480
cod_prov                 5480
nomprov                  5480
ind_actividad_cliente    5480
renta                    5480
ind_ahor_fin_ult1           0
ind_aval_fin_ult1           0
ind_cco_fin_ult1            0
ind_cder_fin_ult1           0
ind_cno_fin_ult1            0
ind_ctju_fin_ult1           0
ind_ctma_fin_ult1           0
ind_ctop_fin_ult1           0
ind_ctpp_fin_ult1           0
ind_deco_fin_ult1           0
ind_deme_fin_ult1           0
ind_dela_fin_ult1           0
ind_ecue_fin_ult1           0
ind_fond_fin_ult1           0
ind_hip_fin_ult1            0
ind_plan_fin_ult1           0
ind_pres_fin_ult1           0
ind_reca_fin_ult1           0
ind_tjcr_fin_ult1           0
ind_valo_fin_ult1           0
ind_viv_fin_ult1            0
ind_nomina_ult1             0
ind_nom_pens_ult1           0
ind_recibo_ult1             0
unrecorded_values           0
dtype: int64

In [13]:
df[df["unrecorded_values"] == 23].isna().sum(axis=0)

Unnamed: 0                  0
fecha_dato                  0
ncodpers                    0
ind_empleado             5302
pais_residencia          5302
sexo                     5302
age                      5302
fecha_alta               5302
ind_nuevo                5302
antiguedad               5302
indrel                   5302
ult_fec_cli_1t           5302
indrel_1mes              5302
tiprel_1mes              5302
indresi                  5302
indext                   5302
conyuemp                 5302
canal_entrada            5302
indfall                  5302
tipodom                  5302
cod_prov                 5302
nomprov                  5302
ind_actividad_cliente    5302
renta                    5302
ind_ahor_fin_ult1           0
ind_aval_fin_ult1           0
ind_cco_fin_ult1            0
ind_cder_fin_ult1           0
ind_cno_fin_ult1            0
ind_ctju_fin_ult1           0
ind_ctma_fin_ult1           0
ind_ctop_fin_ult1           0
ind_ctpp_fin_ult1           0
ind_deco_fin_ult1           0
ind_deme_fin_ult1           0
ind_dela_fin_ult1           0
ind_ecue_fin_ult1           0
ind_fond_fin_ult1           0
ind_hip_fin_ult1            0
ind_plan_fin_ult1           0
ind_pres_fin_ult1           0
ind_reca_fin_ult1           0
ind_tjcr_fin_ult1           0
ind_valo_fin_ult1           0
ind_viv_fin_ult1            0
ind_nomina_ult1          5302
ind_nom_pens_ult1        5302
ind_recibo_ult1             0
unrecorded_values           0
dtype: int64

In 5480 customers, the following columns are not recorded:

* ind_empleado
* pais_residencia
* sexo
* age
* fecha_alta
* ind_nuevo
* antiguedad
* indrel
* ult_fec_cli_1t
* indrel_1mes
* tiprel_1mes
* indresi
* indext
* conyuemp
* canal_entrada
* indfall
* tipodom
* cod_prov
* nomprov
* ind_actividad_cliente
* renta

In 5302 customers, in addition to the above 21 features, the features ind_nomina_ult1 and ind_nom_pens_ult1 are unrecorded.

Notice that there is some strange data that is incorrect. For instance, the antiguedad (customer seniority) column includes a value of -999999. This is probably a placeholder for an unknown value, so we could replace this with nan.

In [14]:
df["antiguedad"] = df["antiguedad"].replace(-999999, np.nan)

What to do with the NA values? Where the data is quantitative and continuous, we may assume the average or the median value to fill in the blanks. Where the data is categorical (even if numerically encoded), it will depend on the context. First, let's deal with the quantitative fields:

* age
* fecha_alta
* ult_fec_cli_1t
* antiguedad
* renta

Of these, only age is a continuous variable, making it appropriate to use the mean. For the rest, we shall use the median.

In [15]:
for col in ["renta"]:
    df[col] = df[col].fillna(df[col].mean())

In [16]:
for col in ["age", "antiguedad"]:
    df[col] = df[col].fillna(df[col].median())

In [17]:
from datetime import datetime

def convert_date(string):
    try:
        return datetime.strptime(string, "%Y-%m-%d").timestamp()
    except:
        return string

df["fecha_alta"] = df["fecha_alta"].fillna(datetime.fromtimestamp(df["fecha_alta"].map(convert_date).median()).strftime("%Y-%m-%d"))
df["ult_fec_cli_1t"] = df["ult_fec_cli_1t"].fillna(datetime.fromtimestamp(df["ult_fec_cli_1t"].map(convert_date).median()).strftime("%Y-%m-%d"))

For the other fields:

* ind_empleado
* pais_residencia
* sexo
* ind_nuevo
* indrel
* indrel_1mes
* tiprel_1mes
* indresi
* indext
* conyuemp
* canal_entrada
* indfall
* tipodom
* cod_prov
* nomprov
* ind_actividad_cliente

We can use the mode since they are all categorical.

In [43]:
for col in df:
    df[col] = df[col].fillna(df[col].mode()[0])

In [44]:
# How many NA are in each column?
for col in df:
    print(col + ":", df[col].isna().sum())

Unnamed: 0: 0
fecha_dato: 0
ncodpers: 0
ind_empleado: 0
pais_residencia: 0
sexo: 0
age: 0
fecha_alta: 0
ind_nuevo: 0
antiguedad: 0
indrel: 0
ult_fec_cli_1t: 0
indrel_1mes: 0
tiprel_1mes: 0
indresi: 0
indext: 0
conyuemp: 0
canal_entrada: 0
indfall: 0
tipodom: 0
cod_prov: 0
nomprov: 0
ind_actividad_cliente: 0
renta: 0
ind_ahor_fin_ult1: 0
ind_aval_fin_ult1: 0
ind_cco_fin_ult1: 0
ind_cder_fin_ult1: 0
ind_cno_fin_ult1: 0
ind_ctju_fin_ult1: 0
ind_ctma_fin_ult1: 0
ind_ctop_fin_ult1: 0
ind_ctpp_fin_ult1: 0
ind_deco_fin_ult1: 0
ind_deme_fin_ult1: 0
ind_dela_fin_ult1: 0
ind_ecue_fin_ult1: 0
ind_fond_fin_ult1: 0
ind_hip_fin_ult1: 0
ind_plan_fin_ult1: 0
ind_pres_fin_ult1: 0
ind_reca_fin_ult1: 0
ind_tjcr_fin_ult1: 0
ind_valo_fin_ult1: 0
ind_viv_fin_ult1: 0
ind_nomina_ult1: 0
ind_nom_pens_ult1: 0
ind_recibo_ult1: 0
unrecorded_values: 0

All NA have now been processed and replaced with an appropriate value. Now time to extract the transformed dataset.

In [57]:
df.drop(["Unnamed: 0", "unrecorded_values"], axis=1).to_csv("cust_seg_transformed.csv")